.image-item {
  .card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    .imgBx {
      width: 100%;
      height: 220px;
      flex-grow: 1;
      padding: 0 10px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16 / 9;
      }
    }
    .contentBx {
      height: 100px;
      text-align: center;
      h2 {
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}
